@{
    ViewBag.Title = "Home Page";
}
<main>
    @*Phần HeaderSub*@
    @Html.Action("_PartialHeaderSub", "Parital")

    @*Phần Loggin Account*@
    @if (@Session["LoggedInUser"] != null)
     {
        @Html.Action("_PartialAccount", "Parital")
     }

    @*Phần Slider*@
    @Html.Action("_PartialSlider", "Parital")

    @* Phần content *@
    <div class="container container-custom position-relative top-0 mb-3 ">
        @* Phần menu *@
        <h2 class="content_menu_title">
            <span class="menu-title">DANH MỤC MÓN ĂN</span>
        </h2>
        <div class="container-fluid">
            <div class="row menu-list">
                <a href="/Menu/#hot-deal" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/KHUYEN%20MAI.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Ưu Đãi &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#new-product" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/MON%20MOI.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Món Mới &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#for-one" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/COMBO%201%20NGUOI.jpg?v=LZYn53" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Combo 1 Người &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#sharing" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/COMBO%20NHOM.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Combo Nhóm &#62;</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row mt-4 menu-list">
                <a href="/Menu/#fried-rosted-chicken" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/GA.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Gà Rán - Gà Quay &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#burger---rice" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/COM.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Burger - Cơm - Mì Ý &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#snack" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/MON%20AN%20NHE.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Thức Ăn Nhẹ &#62;</h4>
                        </div>
                    </div>
                </a>
                <a href="/Menu/#dessert-and-drink" class="col-3">
                    <div class="card card-custom" style="width: 266px">
                        <div class="wrapper-img">
                            <img loading="lazy" src="https://static.kfcvietnam.com.vn/images/category/lg/TRANG%20MIENG.jpg?v=LE5pPL" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text">Thức Uống & Tráng Miệng &#62;</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @* Phần Menu Like *@
        <h2 class="content_menu_title">
            <span class="icon-menu-like"></span>
            <span class="menu-title">CÓ THỂ BẠN SẼ THÍCH MÓN NÀY</span>
        </h2>
        <div class="container text-center">
            <div class="row menu-like">
                @model List<KFC_Framework.Models.SanPham>
                @foreach (var sanPham in Model)
                {
                    <div class="col-4">
                        <div class="card card-menu-like" style="width: 334px">
                            <div class="wrapper-img">
                                <a href="@Url.Action("Detail_menu", "Menu", new { id = sanPham.MaSP,lh= sanPham.MaLH })">
                                    <img src="@Url.Content(sanPham.HinhAnh)" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="wrapper-title-card d-flex justify-content-between align-items-center">
                                    <h4>@sanPham.TenSP</h4>
                                    <h4>@string.Format("{0:N0}", sanPham.GiaBanSP).Replace(",", ".")₫</h4>
                                </div>
                                <p class="card-text card-text-menu-like">@sanPham.MoTaSP</p>
                                <a href="#" onclick="window.location.href='@Url.Action("AddToCart", "Menu" , new { id = sanPham.MaSP })'" class="btn btn-primary btn-custom">Thêm</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> 
    @Html.Action("_PartialBanner", "Parital")
</main>
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partialStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css">
}
@section scripts{
    <script src="~/Scripts/Home.js"></script>    
}